body {
    width: 100vw;
    height: 100vh;
    overflow: none;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap:20px
}

.card {
    width: 600px;
    height: max-content;
    padding: 20px;
    box-shadow: 0px 0px 15px #0002;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    display: block;
}

h4 {color:grey;margin:2em 0 1em 0;}
h2 {font-size:1em;margin:0;}
h3 {font-size:1.6em;margin:.25em 0 1em 0;color:#4a8;}
.card p {font-family:monospace;}
.result span {font-weight: bold;}

@media (prefers-color-scheme: dark) {
    body {background-color: #222;color: white;}
    
    h4 {color:#acb;}

    .card {
        background-color: #3a3f4a;
        color: white;
        box-shadow: 0px 0px 15px #0003;
    }
}